body,div,h1{
  padding: 0;
  margin: 0;
}

h1{
  background: #333;
  color: white;
  padding: 16px;
  margin-bottom: 16px;
}

.contents{
  text-align: center;
  .board-row{
    height: 34px;
  }
  .square{
    background: #333;
    color: #fff;
    width: 32px;
    height: 32px;
    margin: 1px 1px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      background: #26dee9;
    }
    span{
      vertical-align: middle;
      line-height: 32px;
    }
  }
}
